// default color set
$primary-color : #FF8974;
$primary-two-color : #8C33FE;
// secondary variation
$secondary-color : #DD1C63;
// color variation
$hover-color : #FF7961;
$hover-two-color : #FC8021;;
// title color

// social color

// body var
$iconFontawesome: 'FontAwesome';
$iconFlaticon: 'Flaticon';
$bodyFont: 'Poppins', sans-serif;
$fontWeight: 400;
$bColor: #767676;
$bfSize: 16px;
$blineHeight: 26px;
$transition: all .5s linear;

